
@font-face {
    src: url("fun.ttf");
    font-family:fun;
}

body{
    margin:0px;
    font-family:fun;
}

.container{
    margin:0px auto;
    width:480px;
}

.fa-heart{
    font-size:1.5rem;
    margin-bottom:0.2em;
}

/* nav bar */
header h1{
    font-size:2rem;
    margin:0.3em auto;
    padding-left:1em;
    white-space: nowrap;
}

.logo-section{
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.icon{
    background-color: black;
    width:2rem;

}

/* white nav bar */
.nav-bar-container{
    width:100%;
    margin: 0px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    background-color: whitesmoke;
}

/* landing section */
.landing-section{
    margin: auto;
}

.hero-img{
    width:100%;
    display:block;
}

/* setting icon */
.setting-icon{
    width: 2em;
    margin-right:1rem;
}


/* activity section */
.section-two{
    background-color: #a8dadc;
    padding-bottom:1em;
}

/* section headers */
.section-two h1,
.section-three h1,
.section-four h1{
    font-size:2.4em;
    vertical-align: text-bottom;
    margin:auto;
    padding:0.4em;
    font-family: 'Ubuntu';
}


/* featured activities */
.featured-card{
    border: 2px solid black;
    border-radius: 5%;
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 0px 5px grey;
    background:whitesmoke;
    margin:0px auto 2em;
    width:90%;
    
}

.feature-img{
    width:90%;
    border-radius:100vh; 
    border: 3px solid teal;
    max-width: 400px;
}

.featured-card img{
    margin:2em auto 1em;
    max-width: 450px;
    
}

.featured-card h3{
    margin:0.3em auto 0.1em;
    font-size:1.8rem;
}

.featured-card p{
    margin:0.2em auto;
    max-width:680px;
    width:85%;
    font-size:1.1em;
    font-family: 'Ubuntu';
}

.btn{
    margin:0.5em auto 1em;
    padding:0.4em;
    text-decoration: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size:1.85rem;
    font-weight:600;
    display:block;
    width:80%;
    box-shadow: 1px 1px 3px black;
}

.btn:hover,
.btn:active {
    background-color: #2b238a;
}

/* seasons section */
.section-three h1{
    margin:0 auto;
    padding:1em 0px;
}

.section-three{
    background-color: #013a63;
    color: white;
    line-height: 0;
    margin:0 auto;
}

.season-item{
    position:relative;
}

.season-item img{
    width:100%;
}

/* season card texts */
.lower-mid{
    position: absolute;
    top: 40%;
    left:50%;
    text-shadow: 2px 2px 2px black;
    transform: translateX(-50%);
    overflow:auto;
    width:100%;
    line-height: 1.2em;
}

.lower-mid h2{
    font-size:4rem;
    margin-bottom:0px;
}
.lower-mid p{
    font-size:2rem;
    
}

/* guide section */

.section-four{
    background-color: #a8dadc;;
    color: black;
    line-height: 0;
    margin: 0 auto;
    padding-bottom:1rem;
}

.section-four h1{
    margin:0;
    padding:1em;
}


.guide-card{
    max-width:550px;
    width:90%;
    margin:0px auto;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 2px 2px 3px;
    background-color: #90e0ef;
    padding-bottom: 1rem;
}

hr{
    width:50%;
    margin:1rem auto;
    border: 1px solid teal;
}

/* center align texts */
.card-img,
.guide-text h2,
.social-media-box,
.featured-card h3,
.btn,
.lower-mid,
.section-two h1,
.section-three h1,
.section-four h1{
    text-align: center;
}

/* profile images */
.card-img img{
    border: 3px solid teal;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 1rem;
}

/* profile text */
.guide-text{
    font-family: Ubuntu;
    margin: 0px auto;
    line-height: 1.5em;
    padding:0 1rem; 
    width: 75%;
    max-width:500px;
}

.guide-text h4{
    padding:0px;
}

.guide-text span{
    font-size:0.6em;
}

.guide-text p{
    font-style: italic;
    margin:0px auto;
}

.social-media-box{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.social-icons{
    font-size:2rem;
    padding:0px 0.5rem;
}

/* chatbox */
.chatbox-bg {
    background-color: #dda15e;
    width:4em;
    height:4em;
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
    cursor:pointer;
    display:flex;
    position:fixed;
    bottom:10px;
    right:6px;
}

.chatbox-img{
    width:50%;
    display:block;
    margin:auto;
}


@media (min-width:800px){
    .container{
        display:flex;
        gap: 1em;
    }    
    .btn,
    .season-item{
        width:50%;
    }
    .season-container{
        display:flex;
        flex-wrap: wrap;
 
    }

}

@media (min-width:768px){
    .guide-card {
            display: flex;
        }
    
    .guide-card img {
        margin-left: 1rem;
    }
    
    .section-two h1,
    .section-three h1,
    .section-four h1{
        padding:1em;
    }

    .container{
        width:100%;
    }


}
@media (min-width:1280px){
    .featured-card{
        max-width:400px;
    }

}